@import "src/styles/breakpoint";

.button_add_cp {
  border-radius: 50%;
  color: red;
  background-color: rgb(237, 237, 237);
  font-size: 16px;
  line-height: 24px;
}

.sub_cp {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto;
  padding: 16px 0;
}

.sub_cp_container {
  display: flex;
  gap: 10px;
  .sub_cp_item {
    @include xxs-screen {
      min-width: 180px;
      padding: 8px;
    }
    min-width: 215px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #999;
    padding: 16px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    &_active {
      border: 2px solid blue;
    }
  }
  .sub_cp_info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .sub_cp_name {
      @include xxs-screen {
        font-size: 12px;
        line-height: 16px;
      }
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .sub_cp_ads {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 100%;
  }
}

.sub_cp_item_line2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
  .form_status {
    @include xxs-screen {
      min-width: unset;
      font-size: 12px;
      line-height: 16px;
    }
    font-size: 16px;
    line-height: 24px;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    label {
      user-select: none;
    }
  }
}

.ads_container {
  margin-top: 30px;
  h2 {
    @include xxs-screen {
      font-size: 16px;
      line-height: 24px;
    }
    margin-bottom: 16px;
  }
}

.form_input_cp {
  position: relative;
  width: 100%;
  &:hover {
    &:before {
      border-bottom: 2px solid black;
    }
  }
  &:before {
    @include xxs-screen {
      // left: 8px;
    }
    content: "";
    position: absolute;
    bottom: 0;
    // left: 16px;
    border-bottom: 1px solid #999;
    width: calc(100% - 16px);
    transition: all 0.1s linear;
  }
  &:has(> input:focus-visible) {
    &:before {
      border-bottom: 2px solid black;
    }
  }
  &:has(> span.input_error) {
    &:before {
      border-bottom: 2px solid red;
    }
  }
  input {
    width: 100%;
  }
  .label_sub_cp {
    @include xxs-screen {
      font-size: 14px;
      line-height: 18px;
    }
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    transition: all 0.1s linear;
  }
  .input_sub_cp {
    @include xxs-screen {
      font-size: 14px;
      line-height: 18px;
    }
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    &_active,
    &:focus-visible {
      border: none;
      outline: none;
      & + .label_sub_cp {
        top: 0;
        font-size: 8px;
        line-height: 12px;
      }
    }
  }
}

.checked {
  background-color: rgba(245, 0, 87, 0.08);
  input {
    background-color: inherit;
  }
}

.ads_item_input {
  position: relative;
  &:hover {
    &:before {
      border-bottom: 2px solid black;
    }
  }
  &:before {
    @include xxs-screen {
      left: 8px;
    }
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    border-bottom: 1px solid #999;
    width: calc(100% - 16px);
    transition: all 0.1s linear;
  }
  &:has(> input:focus-visible) {
    &:before {
      border-bottom: 2px solid black;
    }
  }
  &:has(> input.input_ads_error) {
    &:before {
      border-bottom: 2px solid red;
    }
  }
  input {
    width: 100%;
  }
}

.ads_table {
  border-spacing: 0;
  width: 100%;
  thead {
    th {
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
  th,
  td,
  input {
    @include xxs-screen {
      font-size: 12px;
      line-height: 16px;
    }
    font-size: 16px;
    line-height: 24px;
  }
  .btn_add_ads {
    @include xxs-screen {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 16px;
    }
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    color: #3f51b5;
    text-wrap: nowrap;
    border: 1px solid #3f51b5;
    &:hover {
      background-color: rgba(63, 81, 181, 0.04);
    }
  }
  .btn_delete {
    svg {
      @include xxs-screen {
        width: 16px;
        height: 16px;
      }
    }
  }
  td,
  th {
    @include xxs-screen {
      padding-left: 8px;
    }
    text-align: left;
    padding-left: 16px;
    &:last-child {
      text-align: center;
    }
  }
  input {
    @include xxs-screen {
      padding: 8px 0;
    }
    padding: 16px 0;
  }
}

.sub_cp_error {
  color: red;
}

.input_error {
  bottom: -16px;
  position: absolute;
  left: 0;
  color: red;
  font-size: 10px;
  line-height: 16px; 
  & + .input_sub_cp {
    &:focus-visible {
      & + .label_sub_cp {
        color: red;
      }
    }
  }
  & + * + .label_sub_cp {
    color: red;
  }
}

.input_ads_error {
  color: red;
}