.isActive {
  position: relative;
  color: blue;
}

.isActive::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: blue;
  transition: all .3s linear;
}

.campaign_tabs_container {
  display: flex;
  align-items: center;
  gap: 10px;
  .campaign_tab {
    padding: 16px;
  }
}

.button_submit {
  border: 1px solid #999;
  margin: 30px 0;
}

.campaign_container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
}